<!DOCTYPE html>
<html  layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
<section class="layout-content" layout:fragment="corpo">
	<nav class="navbar navbar-expand-md bg-light">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<i class="oi oi-caret-right"></i>
					<span>Home</span>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container" id="listagem">

		<div th:replace="~{fragments/alert}"></div>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
				<tr>
					<th>#</th>
					<th>Mes</th>
					<th>Ano</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="per, index: ${timeSource}">
					<td th:text="${index.count}">3</td>
					<td th:text="${per.mes}">Mes</td>
					<td th:text="${per.year}">Ano</td>
					<td colspan="2">
						<a class="btn btn-info btn-sm" th:href="@{/periods/editar/{id} (id=${per.id})}"
						   role="button">
							<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
						</a>
						<button th:id="${ 'btn_periods/excluir/' + per.id}" type="button"
								class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
							<span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:replace="~{fragments/modal :: modal}"></div>


</section>

</body>
</html>