<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link " href="/"> <i
                class="oi oi-home"></i> <span>Home</span>
        </a></li>
    </ul>

    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active">Devedor</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/debtors/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/debtors/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
        </a></li>
    </ul>

    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active">Contas</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/bills/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/bills/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
        </a></li>
    </ul>


    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active">Cobradores</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/collectors/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/collectors/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
        </a></li>
    </ul>

    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active">Categorias</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/categories/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/categories/listar"> <i class="oi oi-spreadsheet"></i>
            <span>Listar </span>
        </a></li>
    </ul>


    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active">Periodo</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/periods/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/periods/listar"> <i class="oi oi-spreadsheet"></i>
            <span>Listar </span>
        </a></li>
    </ul>

<!--    <ul class="nav nav-pills">-->
<!--        <li class="nav-item"><span class="nav-link active">Cargos</span></li>-->
<!--        <li class="nav-item"><a class="nav-link"-->
<!--                                href="/cargos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>-->
<!--        </a></li>-->
<!--        <li class="nav-item"><a class="nav-link"-->
<!--                                href="/cargos/listar"> <i-->
<!--                class="oi oi-spreadsheet"></i> <span>Listar </span>-->
<!--        </a></li>-->
<!--    </ul>-->

</nav>
</body>
</html>